<div class="main_header">
  <div class="header-bg">
    <div class="group33">
      <div class="ellipse">
        <div class="textEllipse">16</div>
      </div>
    </div>

    <div class="shop-account">
      <div class="account">
        <img [src]="user">
        <span>Account</span>
      </div>
      <div class="shopping">
        <img [src]="cart">
        <span>Shopping</span>
      </div>
    </div>

    <div class="help">Help</div>

    <div class="container">
      <div class="all-categories">
        <!-- <mat-form-field>
          <mat-label>All Categories</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
      <div class="search"></div>
      <div class="searchIcon"></div>
    </div>
    
    <div class="logo">
      <img [src]="LOGO" alt="no-img">
    </div>
    <!-- Header Menu-->
    <div class="header-menu">
      <div class="category">
        <span *ngFor="let item of menu">{{item.value}}</span>
      </div>
    </div>

  </div>
</div>
