@import "../../../styles.scss";
$background-color: (#d3fbd9, #ffe4bd, #d9abfd, #fdf0ab);

.main-header {
  background-color: $GrayBackground;
  width: 100%;
  height: 400px;
}
 span {
      position: absolute;
      width: 138px;
      height: 20px;
      top: 160px;
      font-family: $fontText;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: #ffffff;
      display: flex;
      padding-left: 15px;
    }

@media screen and (max-width: 992px) {
  .main-header {
    margin-left: 0px !important;
  }
}

@media print {
  .main-header {
    margin-top: 0px !important;
    margin-left: 0px !important;
  }
}