/* You can add global styles to this file, and also import other style files */
$headerMain: #fff9f3;
$fontText: "system-ui";
$GreenLight: #d3fbd9;
$BrownLight: #ffe4bd;
$Pink: #d9abfd;
$YellowLight: #fdf0ab;
